body{
    background-color: rgb(253, 199, 199);
}
#container{
    border: solid 1px;
    width: 50%;
    height: 900px;
    margin-left: 28%;
    margin-top: 3%;
    font-size: 20px;
    background-color: white;
}
#par{
    margin-left: 13%;
}