body{
    background-color: rgb(253, 199, 199);
}
#main-container{
    display: flex;
}
#book{
    width: 180%;
    margin-top: 10%;
}
#container{
    border: solid 1px;
    border-radius: 20px;
    width: 50%;
    height: 902px;
    margin-left: 16%;
    margin-top: 2.5%;
    font-size: 20px;
    background-color: white;
}
#par{
    margin-left: 13%;
    line-height: 28px;
}

@media (min-width: 376px) and (max-width: 600px){
    #main-container{
        display: flex;
        flex-wrap: wrap;

    }
    #book{
        width: 100%;
        margin-top: 10%;
    }
    #container{
        border: solid 1px;
        border-radius: 20px;
        width: 84%;
        height: 2005px;
        margin-left: 10%;
        margin-top: 2.5%;
        font-size: 20px;
        background-color: white;
    }

}

@media (min-width: 601px) and (max-width: 1300px){
    #main-container{
        display: flex;
        flex-wrap: wrap;

    }
    #book{
        width: 190%;
        margin-top: 10%;
    }
    #container{
        border: solid 1px;
        border-radius: 20px;
        width: 90%;
        height: 1300px;
        margin-left: 9%;
        margin-top: 2.5%;
        font-size: 20px;
        background-color: white;
    }


}

@media (min-width: 280px) and (max-width: 375px){
    #main-container{
        display: flex;
        flex-wrap: wrap;
    }
    #book{
        width: 100%;
        margin-top: 10%;
    }
    #container{
        border: solid 1px;
        border-radius: 20px;
        width: 80%;
        height: 2400px;
        margin-left: 16%;
        margin-top: 2.5%;
        font-size: 20px;
        background-color: white;
    }
    

}