body{
    background-color: rgb(253, 199, 199);

}
#container{
    margin-left: 12%;
    border: solid 1px;
    height: 800px;
    width: 80%;
    margin-top: 2%;
    background-color: white;

}
#goal-heading{
    margin-left: 42%;
}
#nav-but{
    display: flex;
    gap: 8%;
    margin-top: 2%;
    margin-left: 10%;

}
.but-nav{
    padding: 10px;
    border-radius: 15px;
    width: 20%;
}
.goals{
    display: flex;
    gap: 28%;
    margin-left: 5%;
    margin-top: 4%;
}
.heading{
    background-color: rgb(22, 195, 248);
    color: white;
    margin-top: -0.5%;
}
.input{
    border-radius: 5px;
    padding: 8px;
    margin-top: 2%;
    width: 90%;
}
.all-goals{
    border: solid 1px;
    width: 70%;
    height: 250px;
}


@media (min-width: 280px) and (max-width: 375px){
    #nav-but{
        display: flex;
        gap: 5%;
        margin-top: 2%;
        margin-left: 10%;
    
    }
    .but-nav{
        padding: 10px;
        border-radius: 15px;
        width: 20%;
    }

}

@media (min-width: 376px) and (max-width: 600px){
    #nav-but{
        display: flex;
        gap: 5%;
        margin-top: 2%;
        margin-left: 10%;
    
    }
    .but-nav{
        padding: 10px;
        border-radius: 15px;
        width: 20%;
    }
    #goal-heading{
        margin-left: 28%;
    }
    .all-goals{
        border: solid 1px;
        width: 90%;
        height: 250px;
    }
    .input{
        border-radius: 5px;
        padding: 6px;
        margin-top: 2%;
        width: 80%;
    }

}
