body{
    /* width: 42%;
    margin-left: 25%;
    margin-top: 5%; */
    /* background-image: url(images/login-image.jpeg); */
    /* filter: blur(20px); */
    /* -webkit-filter: blur(25px); */
    height: 730%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
 
}
   




#image{
    background-image: url(images/login-image.jpeg);
    background-size: cover;
    /* filter: blur(20px); */
    /* -webkit-filter: blur(25px); */
    /* position: relative; */

    height: 730%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */

}
#heading{
    margin-left: 32%;
    margin-top: 8%;
}
.input-signin{
    border-radius: 20px;
    padding: 10px;
    margin-left: 18%;
    margin-top: 7%;
    width: 50%;
}

#login-but{
    border-radius: 10px;
    border: none;
    padding: 9px;
    width: 36%;
    background-color: rgb(22, 195, 248);
    color: white;
    margin-left: 28%;
    margin-top: 5%;
    text-decoration: none;
}
 #sign-in{
    border: solid 2px;
    width: 40%;
    position: absolute;
    top: 10%;

    width: 42%;
    margin-left: 25%;
    margin-top: 5%;
    /* background-color: (0,0,0, 0.4); */
    /* background-color: rgb(226, 196, 196); */

   
 }


.label{
    margin-left: 24%;
    /* margin-bottom: 12px; */

}
#par{
    margin-left: 18%;
    margin-top: 10%;
}





