body{
    background-color: rgb(253, 199, 199);
    margin-left: 10%;
    margin-right: 10%;

}
nav{
    display: flex;
    gap: 8%;
    margin-bottom: 2%;
    margin-top: 5%;
    text-decoration: none;
}
.nav-tag{
    text-decoration: none;
    /* color: rgb(228, 30, 122); */
    color: rgb(235, 24, 154);
    font-size: 20px;
}
#logo{
    width: 140px;
    margin-top: -4%;
}
#content{
    display: flex;
    gap: 20%;
}
#heading{
    font-size: 80px;
}
#par{
    font-size: 30px;
}
#image{
    height: 450px;
    margin-top: 10%;
    width: 700px;
}
#sen-img{
    font-size: 25px;
    margin-left: 4%;
}




@media (min-width: 376px) and (max-width: 600px){
    body{
        background-color: rgb(253, 199, 199);
        margin-left: 2%;
        margin-right: 2%;
    
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
        margin-bottom: 2%;
        margin-top: 5%;
        text-decoration: none;
    }
    .nav-tag{
        text-decoration: none;
        /* color: rgb(228, 30, 122); */
        /* color: rgb(235, 24, 154); */
        font-size: 8px;
    }
    #logo{
        width: 30px;
        margin-top: -4%;
    }
    #content{
        display: flex;
        flex-wrap: wrap;
        gap: 20%;
    }
    #heading{
        font-size: 20px;
    }
    #par{
        font-size: 10px;
    }
    #image{
        height: 160px;
        margin-top: 10%;
        width: 150px;
    }
    #sen-img{
        font-size: 10px;
        margin-left: 4%;
    }

}


@media (min-width: 601px) and (max-width: 1300px){
    #image{
        height: 250px;
        margin-top: 30%;
        width: 300px;
    }
    #content{
        display: flex;
        gap: 16%;
    }
    nav{
        display: flex;
        gap: 5%;
        margin-bottom: 2%;
        margin-top: 5%;
        text-decoration: none;
    }
    #par{
        font-size: 30px;
    }
    #heading{
        font-size: 60px;
    }
 

}

@media (min-width: 280px) and (max-width: 375px){
    #image{
        height: 250px;
        margin-top: 30%;
        width: 350px;
    }
    #content{
        display: flex;
        flex-wrap: wrap;
        gap: 16%;

    }
    nav{
        display: flex;
        flex-wrap: wrap;
        gap: 50%;
        margin-bottom: 2%;
        margin-top: 5%;
        text-decoration: none;
    }
    #heading{
        font-size: 60px;
    }
    #logo{
        width: 100px;
        margin-top: -4%;
    }


}
