body{
    background-color: rgb(253, 199, 199);

}
#container{
    margin-left: 20%;
    border: solid 1px;
    height: 850px;
    width: 1300px;
    background-color: white;
    
}
#content{
    /* margin-left: 20%; */
    /* background-color: white; */

}
#nav-but{
    display: flex;
    gap: 10%;
    margin-bottom:2%;
    margin-left: 10%;
    /* padding: 15px; */
    /* border-radius: 10px; */

}
.but-nav{
    padding: 10px;
    border-radius: 15px;
    width: 20%;
}

.heading{
    background-color: rgb(22, 195, 248);
    color: white;
    margin-top: -0.5%;
}
#achieve{
    border: solid 1px;
    width: 50%;
    height: 350px;
    margin-top: 4%;
    margin-left: 25%;
}
#struggles{
    border: solid 1px;
    width: 50%;
    height: 350px;
    margin-top: 4%;
    margin-left: 25%;
}
.input{
    border-radius: 5px;
    padding: 8px;
    width: 50%;
}